<div class="container">
  <div class="row row-eq-height">
    <div class="col-xs-12 col-md-12">
      <div class="dropdown" >
      <!-- デフォルト表示部分 -->
        <a class="btn btn-default dropdown-toggle dd-width" id="sample-menu-2" data-toggle="dropdown">
          <% if !@category.nil? %>
            <%= @category %>
          <% else %>
            カテゴリ選択メニュー
          <% end %>
          <span class="caret"></span>
        </a>

        <!-- リスト部分 -->
        <ul class="dropdown-menu dd-width" role="menu" aria-labelledby="sample-menu-2">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/惣菜">惣菜</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり">おにぎり</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/スイーツ">スイーツ</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/ドリンク">ドリンク</a></li>
          <li role="presentation" class="divider"></li>
       </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-12">
