<style type="text/css">
    body{
      -webkit-text-size-adjust: 100%;
    }
   .title1{
      text-align: center;
      font-family: fantasy;
      font-size: 2.5em;
    }
    .title2{
      text-align: center;
      font-size: 1.5em;
    }
    span.first{
      font-weight:bold;
      color:red;
    }
    
    .grid_black{
     padding:0 15px;
     border-color: black;
     border-style: solid;
     border-width: 1px;
    }
    .grid_black_mid{
     padding:0 15px;
     border-color:black;
     border-style:solid;
     border-width: 1px 0px 1px 0px;
    }
    .product{ 
       margin: 0 auto;
    }
    .p_name{
      text-align: center;
      font-size: 2em;
      color: #800000;      
    }
    dl.dl-horizontal dt{  
      width:50%;
      margin-right: 20px;
      font-size: 1.5em;
    }
    dl.dl-horizontal dd{
      margin-left:0px;
      font-size: 1.5em
    }
    .dd-width{
      width: 100%;
    }
/* スマホのスタイル*/


/* タブレットのスタイル*/
@media all and (min-width: 480px){
  .title1{
    font-size: 4em;
  }
  .title2{
    font-size: 2.5em;
  }

}

/* PCのスタイル*/
@media all and (min-width: 768px){

}
</style>

<h1 class="title1">HOT Item</h1>
<h2>今、コンビニで話題の商品がひと目で分かります!</h2>
<div class="container">
  <div class="row row-eq-height">
    <div class="col-xs-12 col-md-12">
      <div class="dropdown" >
      <!-- デフォルト表示部分 -->
        <a class="btn btn-default dropdown-toggle dd-width" id="sample-menu-2" data-toggle="dropdown">
          商品選択メニュー<span class="caret"></span>
        </a>
        
        <!-- リスト部分 -->
        <ul class="dropdown-menu dd-width" role="menu" aria-labelledby="sample-menu-2"> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/惣菜">惣菜</a></li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり">おにぎり</a></li>         
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/スイーツ">スイーツ</a></li>    
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/健康食品">健康食品</a></li>    
          <li role="presentation" class="divider"></li>
       </ul>
      </div> 
    </div>
    <div class="col-xs-12 col-md-12">
      <% @product.each do |p| %>
          <%= print_product(p) %>
      <% end %>
      
     
    
    </div>
  </div>

<div class="request_form" align="right" >
   <%= link_to '商品の追加依頼はこちらへ', 'https://goo.gl/forms/8ChjArd8wYdEAwwF3' ,target:"_blank" %>
</div>
