<style type="text/css">
    body{
      -webkit-text-size-adjust: 100%;
    }
   .title1{
      text-align: center;
      font-family: fantasy;
      font-size: 2.5em;
    }
    .title2{
      text-align: center;
      font-size: 1.5em;
    }     
    .product{ 
       margin: 0 auto;
       padding:0 15px;
       border-color: black;
       border-style: solid;
       border-width: 1px;
    }
    .p_name{
      text-align: center;
      font-size: 2em;
      color: #800000;      
    }
    .dd-width{
      width: 100%;
    }
    div.product div.spec{
      height:142px;
    }
    div.product div.spec dl{
      margin-left:200px;
      margin-top:10px;
    } 
/* スマホのスタイル*/


/* タブレットのスタイル*/
@media all and (min-width: 480px){
  .title1{
    font-size: 4em;
  }
  .title2{
    font-size: 2.5em;
  }

}

/* PCのスタイル*/
@media all and (min-width: 768px){

}
</style>

<h1 class="title1">ホットアイテム</h1>
<p class="title2">今、コンビニで話題の商品がひと目で分かります!</p>
<div class="container">
  <div class="row row-eq-height">
    <div class="col-xs-12 col-md-12">
      <div class="dropdown" >
      <!-- デフォルト表示部分 -->
        <a class="btn btn-default dropdown-toggle dd-width" id="sample-menu-2" data-toggle="dropdown">
          商品選択メニュー<span class="caret"></span>
        </a>
        
        <!-- リスト部分 -->
        <ul class="dropdown-menu dd-width" role="menu" aria-labelledby="sample-menu-2"> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/惣菜">惣菜</a></li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり">おにぎり</a></li>         
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/スイーツ">スイーツ</a></li>    
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/ドリンク">ドリンク</a></li>    
          <li role="presentation" class="divider"></li>
       </ul>
      </div> 
    </div>
    <div class="col-xs-12 col-md-12">
      <% @items.each do |p| %>
          <%= p.item %>
      <% end %>
      <% if @items.blank? %>
        <p class="not_found">選択した商品が見つかりませんでした</p>
      <% end %>
    </div>
  </div>
</div>
