<style type="text/css">
    body{
      -webkit-text-size-adjust: 100%;
    }
   .title1{
      text-align: center;
      font-family: fantasy;
      font-size: 2.5em;
    }
    .title2{
      text-align: center;
      font-size: 1.5em;
    }
    span.first{
      font-weight:bold;
      color:red;
    }
    
    .grid_black{
     padding:0 15px;
     border-color: black;
     border-style: solid;
     border-width: 1px;
    }
    .grid_black_mid{
     padding:0 15px;
     border-color:black;
     border-style:solid;
     border-width: 1px 0px 1px 0px;
    }
    .product{ 
       margin: 0 auto;
    }
    .p_name{
      text-align: center;
      font-size: 2em;
      color: #800000;      
    }
    dl.dl-horizontal dt{  
      width:50%;
      margin-right: 20px;
      font-size: 1.5em;
    }
    dl.dl-horizontal dd{
      margin-left:0px;
      font-size: 1.5em
    }
    .shadow_famima{
      box-shadow: 0 0 0px 3px #0079c5 inset, 0 0 0px 6px #FFFFFF inset, 0 0 0px 9px #23ac38 inset;
    }
    .shadow_lawson{
      box-shadow: 0 0 0 9px #0074bf inset;
    }
    .shadow_seven{
      box-shadow: 0 0 0 2px #ee7620 inset, 0 0 0 3px #FFFFFF inset, 0 0 0 6px #11582c inset, 0 0 0 7px #FFFFFF inset, 0 0 0 9px #aa1f24 inset;
    }
    .dd-width{
      width: 100%;
    }
/* スマホのスタイル*/


/* タブレットのスタイル*/
@media all and (min-width: 480px){
  .title1{
    font-size: 4em;
  }
  .title2{
    font-size: 2.5em;
  }

}

/* PCのスタイル*/
@media all and (min-width: 768px){

}
</style>

<h1 class="title1">twentyfour-seven</h1>
<h2 class="title2">コンビニ3社の商品を比較するよ</h2>

<div class="container">
  <div class="row row-eq-height">
    <div class="col-xs-12 col-md-2">
      <div class="dropdown" >
      <!-- デフォルト表示部分 -->
        <a class="btn btn-default dropdown-toggle dd-width" id="sample-menu-2" data-toggle="dropdown">
          商品選択メニュー<span class="caret"></span>
        </a>
        
        <!-- リスト部分 -->
        <ul class="dropdown-menu dd-width" role="menu" aria-labelledby="sample-menu-2">
          <li role="presentation" class="dropdown-header">チキン</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/サラダチキン">サラダチキン</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/サラダチキン（ハーブ）">サラダチキン（ハーブ）</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">サラダ</li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/サラダ">サラダ</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">スープ</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/スープ">スープ</a></li> 
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">おにぎり</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり（梅）">おにぎり（梅）</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり（鮭）">おにぎり（鮭）</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり（ツナ）">おにぎり（ツナ）</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり（昆布）">おにぎり（昆布）</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり（納豆巻き）">おにぎり（納豆巻き）</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">パン</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/パン">パン</a></li>    
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">飲むヨーグルト</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/飲むヨーグルト（プレーン）">プレーン</a></li>    
          <li role="presentation" class="divider"></li>
       </ul>
      </div> 
    </div>
    <div class="col-xs-12 col-md-9 row-eq-height">
      <% if @product["ファミマ"].nil? %>
        <p class="not_found">選択した商品が見つかりませんでした</p>
      <% end %>
      <% if !@product["ファミマ"].nil? %>
        <div class="col-xs-12 col-md-4 grid_black shadow_famima">  
          <h3>ファミマ</h3>
          <%= print_product(@product["ファミマ"],@product["セブン"] ,@product["ローソン"] ) %>
        </div>
        <div class="col-xs-12 col-md-4 grid_black_mid shadow_seven">
          <h3>セブン</h3>
          <%= print_product(@product["セブン"] ,@product["ファミマ"] ,@product["ローソン"] ) %>
        </div>
        <div class="col-xs-12 col-md-4 grid_black shadow_lawson">
          <h3>ローソン</h3>      
          <%= print_product(@product["ローソン"] ,@product["セブン"] ,@product["ファミマ"] ) %>
        </div>
      <% end %>
    </div>
  </div>
  
<div class="request_form" align="right" >
   <%= link_to '商品の追加依頼はこちらへ', 'https://goo.gl/forms/8ChjArd8wYdEAwwF3' ,target:"_blank" %>
</div>

/*オリジナル比較表*/
.shadow_famima{
      box-shadow: 0 0 0px 3px #0079c5 inset, 0 0 0px 6px #FFFFFF inset, 0 0 0px 9px #23ac38 inset;
    }
    .shadow_lawson{
      box-shadow: 0 0 0 9px #0074bf inset;
    }
    .shadow_seven{
      box-shadow: 0 0 0 2px #ee7620 inset, 0 0 0 3px #FFFFFF inset, 0 0 0 6px #11582c inset, 0 0 0 7px #FFFFFF inset, 0 0 0 9px #aa1f24 inset;
    }
    .dd-width{
      width: 100%;
    }


