  <style type="text/css">

    table{float: right; }
    table, tr,th,td {
                      border: solid 1px gray;
                     }

    td {
        width: 300px;
        height: 1000px;
        vertical-align: top;
        
        }
  </style>

<h1 style="text-align: center; font: fantasy; font-size: 64px;">twentyfour-seven</h1>
<h2 style="text-align: center;">コンビニ3社の商品を比較するよ</h2>

<div style=" width:1030px; margin: 0 auto;">
  <div style="width: 100px; height: 1000px; float: left; border: 1px solid gray">
  
    検索用
  </div>
  <table>
    <tr><th>ファミマ</th><th>セブン</th><th>ローソン</th></tr>
    <tr><td>ファミチキ</td><td>セブンチキン</td><td>ローチキ</td></tr>

  </table>

</div>

<div>
<%=  link_to 'リンク先へジャンプ', '/countries/' %>
</div>
