/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/* gridで高さが揃わない場合に調整するclass */
.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
body{
      -webkit-text-size-adjust: 100%;
    }
   .title1{
      text-align: center;
      font-family: fantasy;
      font-size: 2.5em;
    }
    .title2{
      text-align: center;
      font-size: 1.5em;
      margin:20px;
    }     
    .product{ 
       margin: 0 auto;
       padding:15px;
       border-color: black;
       border-style: solid;
       border-width: 1px;
    }
    .p_name{
      font-size: 2em;
      color: #800000;      
    }
    .dd-width{
      width: 100%;
    }
    div.product div.spec{
      height:142px;
    }
    div.product div.spec dl{
      margin-left:200px;
      margin-top:10px;
    } 
/* スマホのスタイル*/
/* タブレットのスタイル*/
@media all and (min-width: 480px){
  .title1{
    font-size: 4em;
  }
  .title2{
    font-size: 2em;
  }
}
/* PCのスタイル*/
@media all and (min-width: 768px){
}
