// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rank1 span.rank{
  font-size: 3em;
}
#rank2 span.rank{
  font-size: 2.5em;
}
#rank3 span.rank{
  font-size: 2em;
}
span.rank{
  font-size:1.5em;
  margin-right:10px;
}
