// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.rank{
  font-size:1.5em;
  margin-right:10px;
}
span.shop{
  font-size: 2em;
  margin-right: 10px;
}
dd.comment_dd{
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}
img.rank_image{
  width: 45px;
  margin-top: -20px;
}
